input{
    width: 30px;
    border: {
        top: none;
        left: none;
        right: none;
    }
    outline: none;
}

.error{
    border: red;
}

.correct{
    border: greenyellow;
}

@mixin buttonType($color, $bgColor){
    color: $color;
    background-color: $bgColor;
    border: none;
    min-width: 60px;
    height: 20px;
    border-radius: 12px;
}

button{
    @include buttonType(white,#1585ff);
}

.text{
    color: #f222ff;
    font-size: 17px;
    font-family:Verdana, Geneva, Tahoma, sans-serif !important;
    text-align: justify;
    padding: {
        left: 10px;
        right: 10px;
    }
}

.text2{
    font-family: monospace;
    @extend .text;
}
    


@function sum($numbers...) {
  $sum: 0;
  @each $number in $numbers {
    $sum: $sum + $number;
  }
  @return $sum;
}

.box{
  width: sum(10px,50px, 150px, 200px);
  border: 1px solid black;
  height: 50px;
}
    



